---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #499EE1;
}

.main-content > h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
    color: black !important;
}

#logo-header {
    max-height: 250px;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('http://www.kissenium.org/assets/images/kissenium-header.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-weight: 100;
    color: white;
}

.page-header > h1, h2 {
    color: white !important;
}

.btn {
    border-radius: unset;
}

table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}