---
---

@import "{{ site.theme }}";

#logo-header {
    max-height: 250px;
}

.page-header:before {
    content: "";
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('http://www.kissenium.org/assets/images/kissenium-mockup.jpg');
    background-position: center top;
    z-index: -1;
    filter: blur(2px);
}


.page-header {
    font-weight: 100;
    color: rgba(0,0,0,1);
}

table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}