---
---

@import "{{ site.theme }}";

#logo-header {
    max-height: 250px;
}

.page-header {
    background-image: linear-gradient(120deg, #006BB2, #B26900);
    font-weight: 100;
    color: rgba(0,0,0,0.6);
}

table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}