<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-3" style="padding:30px;">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="90.000000pt" height="90.000000pt" viewBox="0 0 500.000000 500.000000" preserveAspectRatio="xMidYMid meet">
                    <metadata>
                    Logo created by <a href="http://www.coffee-time.fr/">Mr Coffe-Time</a>
                    </metadata>
                    <g transform="translate(0.000000,500.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                        <path d="M530 2930 l0 -2000 1990 0 1990 0 0 1290 0 1290 -270 0 -270 0 -2 -1017 -3 -1018 -174 -3 -175 -2 -64 62 c-35 35 -411 413 -835 841 l-771 778 615 615 614 614 397 0 398 0 0 -235 0 -235 270 0 270 0 0 510 0 510 -1990 0 -1990 0 0 -2000z m1200 805 c-355 -355 -648 -645 -652 -645 -5 0 -8 290 -8 645 l0 645 652 0 653 0 -645 -645z m474 -1625 l641 -640 -885 3 -885 2 -3 405 -3 405 237 233 c130 127 241 232 246 232 6 0 299 -288 652 -640z"/>
                        <path d="M520 395 c0 -308 0 -315 20 -315 19 0 20 7 20 150 l0 150 38 0 c37 0 44 -6 173 -150 122 -136 137 -150 167 -150 l33 0 -108 121 c-59 67 -125 141 -146 165 l-37 42 131 151 c130 150 130 151 97 150 -30 0 -45 -14 -156 -145 -116 -136 -126 -145 -155 -142 l-32 3 -3 143 c-2 134 -4 142 -22 142 -19 0 -20 -8 -20 -315z"/>
                        <path d="M1349 551 c-66 -22 -99 -63 -99 -124 0 -63 46 -98 173 -131 69 -19 117 -57 117 -95 0 -44 -66 -91 -127 -91 -48 1 -108 34 -122 69 -17 40 -51 43 -51 5 0 -37 56 -89 111 -104 127 -34 247 35 235 135 -8 63 -63 102 -192 135 -65 16 -96 45 -92 88 4 50 43 77 113 77 46 0 58 -4 84 -29 17 -16 33 -38 37 -48 8 -25 44 -24 44 2 0 34 -22 70 -57 91 -37 23 -132 34 -174 20z"/>
                        <path d="M1785 541 c-22 -10 -46 -25 -53 -33 -22 -27 -31 -75 -21 -112 12 -43 51 -69 140 -91 123 -31 167 -77 131 -139 -37 -63 -157 -72 -214 -16 -15 16 -28 36 -28 44 0 10 -9 16 -25 16 -47 0 -20 -73 42 -111 50 -31 173 -34 219 -5 48 30 64 57 64 107 0 78 -32 104 -186 148 -76 22 -89 31 -99 72 -5 21 0 34 22 59 55 61 169 46 203 -27 10 -22 22 -33 38 -33 28 0 29 24 2 68 -40 65 -153 91 -235 53z"/>
                        <path d="M2270 544 c-46 -20 -77 -50 -103 -99 -31 -59 -31 -203 0 -261 43 -81 123 -122 211 -110 80 11 141 51 115 77 -7 7 -22 3 -45 -10 -117 -69 -240 -4 -256 135 l-5 44 168 0 168 0 -6 59 c-3 35 -15 77 -28 100 -40 71 -138 100 -219 65z m129 -42 c38 -19 71 -72 71 -114 l0 -28 -136 0 -137 0 6 35 c8 46 38 88 79 108 43 21 75 21 117 -1z"/>
                        <path d="M2753 541 c-23 -11 -48 -29 -55 -40 -19 -30 -28 -26 -28 14 0 28 -4 35 -20 35 -19 0 -20 -7 -20 -235 l0 -235 25 0 25 0 0 171 c0 155 2 175 20 205 41 65 150 82 199 30 34 -36 41 -79 41 -248 l0 -158 26 0 26 0 -4 183 c-5 198 -14 239 -65 272 -40 26 -121 29 -170 6z"/>
                        <path d="M3960 549 c-14 -6 -40 -24 -57 -42 l-33 -31 0 37 c0 30 -4 37 -20 37 -19 0 -20 -7 -20 -235 0 -228 1 -235 20 -235 19 0 20 7 20 163 0 179 8 211 63 251 38 28 106 28 144 0 43 -32 52 -72 52 -251 l1 -163 25 0 25 0 0 160 c0 174 7 206 54 249 20 19 38 25 76 25 43 1 54 -3 82 -32 l33 -32 3 -185 3 -185 25 0 26 0 -4 188 c-3 165 -5 191 -23 221 -54 91 -191 95 -261 8 l-28 -35 -16 31 c-31 57 -121 83 -190 56z"/>
                        <path d="M1060 315 l0 -235 25 0 25 0 0 235 0 235 -25 0 -25 0 0 -235z"/>
                        <path d="M3130 315 l0 -235 25 0 25 0 0 235 0 235 -25 0 -25 0 0 -235z"/>
                        <path d="M3332 363 c3 -175 5 -191 26 -224 50 -81 179 -90 252 -18 l30 31 0 -36 c0 -32 3 -36 25 -36 l25 0 0 235 0 235 -25 0 -25 0 0 -167 c0 -149 -2 -172 -20 -200 -28 -46 -64 -66 -121 -67 -42 -1 -53 3 -81 32 l-33 32 -3 185 -3 185 -25 0 -26 0 4 -187z"/>
                    </g>
                </svg>
            </div>
            <div class="col-xs-9 text-right">
                <h2 class="text-capitalize">{{title}}</h2>
                <p class='attribute'><strong>Start Time: </strong>{{headers.start_time}}</p>
                <p class='attribute'><strong>Duration: </strong>{{headers.duration}}</p>
                <p class='attribute'><strong>Status: </strong>{{headers.status}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class='table table-hover table-responsive'>
                    <thead>
                        <tr>
                            <th>{{testcase_name}}</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for eachTestCase, status, errorType, errorMessage in tests_results %}
                            <tr class='{{status}}'>
                                <td class="col-xs-9">{{eachTestCase}}</td>
                                <td class="col-xs-3 text-right">
                                    <span class="label label-{{status}}">
                                        {% if "success" == status %}
                                            Pass
                                        {% elif "info" == status %}
                                            Skip
                                        {% elif "danger" == status%}
                                            Fail
                                        {% else %}
                                            Error
                                        {% endif %}
                                    </span>
                                    {% if "success" not in status %}
                                        &nbsp<button class="btn btn-default btn-xs">View</button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if "success" != status %}
                                <tr style="display:none;">
                                    <td class="col-xs-9">
                                        <p>{{errorType}}</p>
                                        <p>{{errorMessage}}</p>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td>
                               Total Test Runned: {{total_test}}
                            </td>
                            <td>
                                <span>{{headers.status}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('td').on('click', '.btn', function(e){
                e.preventDefault();
                var $this = $(this);
                var $nextRow = $this.closest('tr').next('tr');
                $nextRow.slideToggle("fast");
                $this.text(function(i, text){
                    if (text === 'View') {
                        return 'Hide';
                    } else {
                        return 'View';
                    };
                });
            });
        });
    </script>
</body>
</html>